@use '../../shared/styles/mixins/responsive.scss' as r;

$social-links-background-base-color: var(--background-base);
$social-links-background-surface-color: var(--background-surface);
$social-links-icon-background-default-color: var(--background-default);
$social-links-box-shadow-base-color: var(--shadows-base);

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin: 0 auto;
  padding: 12px 0;
  gap: 16px;
  background-color: $social-links-background-surface-color;
  box-shadow: inset 0 0 3px 1px $social-links-box-shadow-base-color;
  border-radius: 50px;

  @include r.responsive-multiple(phone, phone-large) {
    width: 50px;
    padding: 8px 0;
  }

  &__item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: $social-links-background-base-color;
    box-shadow: 0 0 3px 1px var(--shadows-base);
    border-radius: 50px;
    transition: all 0.3s ease;

    @include r.responsive-multiple(phone, phone-large) {
        padding: 1px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__icon {
    color: $social-links-icon-background-default-color;
  }
}
