// Fonts
$font-family-primary: "Inter Variable", sans-serif;
$font-family-secondary: "Roboto Flex Variable", sans-serif;

// Font-size
$font-size-xxxl: 82px;
$font-size-xxl: 62px;
$font-size-xl: 46px;
$font-size-lg: 36px;
$font-size-md: 28px;
$font-size-sm: 20px;
$font-size-xs: 18px;
$font-size-2xs: 16px;
$font-size-3xs: 12px;

// Font-weight
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
