@use "../../shared/styles/variables/fonts.scss" as f;
@use "../../shared/styles/mixins/typography.scss" as t;
@use "../../shared/styles/mixins/responsive.scss" as r;

$welcome-text-primary-color: var(--text-primary);
$welcome-text-accent-color: var(--text-accent);

.welcome {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include r.responsive-multiple(phone, phone-large) {
      gap: 40px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    @include t.font-setup(
      f.$font-family-secondary,
      f.$font-weight-semi-bold,
      f.$font-size-xxxl
    );
    color: $welcome-text-primary-color;

    @include r.responsive(tablet-large) {
      @include t.font-setup(
        f.$font-family-secondary,
        f.$font-weight-semi-bold,
        f.$font-size-xxl
      );
    }

    @include r.responsive(tablet) {
      @include t.font-setup(
        f.$font-family-secondary,
        f.$font-weight-semi-bold,
        f.$font-size-xl
      );
      padding-left: 20px;
    }

    @include r.responsive(phone-large) {
      @include t.font-setup(
        f.$font-family-secondary,
        f.$font-weight-medium,
        f.$font-size-lg
      );
      padding-left: 15px;
    }

    @include r.responsive(phone) {
      @include t.font-setup(
        f.$font-family-secondary,
        f.$font-weight-regular,
        f.$font-size-md
      );
      padding-left: 10px;
    }
  }

  &__highlight {
    display: flex;
  }

  &__name {
    margin-left: 20px;
    color: $welcome-text-accent-color;

    @include r.responsive-multiple(tablet, tablet-large) {
      margin-left: 15px;
    }

    @include r.responsive-multiple(phone, phone-large) {
      margin-left: 10px;
    }
  }

  &__description {
    padding-left: 25px;
    color: $welcome-text-primary-color;

    @include r.responsive(tablet-large) {
      width: 70%;
    }

    @include r.responsive(tablet) {
      width: 80%;
      padding-left: 20px;
    }

    @include r.responsive(phone-large) {
      padding-left: 15px;
    }

    @include r.responsive(phone) {
      @include t.font-setup(
        f.$font-family-secondary,
        f.$font-weight-regular,
        f.$font-size-3xs
      );
      padding-left: 10px;
    }
  }
}
