$icon-background-white-color: var(--staticColors-whiteColor);
$icon-background-accent-color: var(--background-accent);
$icon-background-surface-color: var(--background-surface);
$icon-background-default-color: var(--background-default);

.app-icon {
  &.icon-white {
    color: $icon-background-white-color;
  }

  &.icon-accent {
    color: $icon-background-accent-color;
  }

  &.icon-surface {
    color: $icon-background-surface-color;
  }

  &.icon-default {
    color: $icon-background-default-color;
    transition: all 0.3s ease;
  }
}
