@use "../../shared/styles/variables/fonts.scss" as f;
@use "../../shared/styles/mixins/typography.scss" as t;
@use "../../shared/styles/mixins/responsive.scss" as r;

$header-elements-background-base-color: var(--background-base);
$header-elements-background-surface-color: var(--background-surface);
$header-elements-box-shadow-base-color: var(--shadows-base);

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  background-color: $header-elements-background-base-color;

  @include r.responsive-multiple(phone, phone-large, tablet) {
    justify-content: flex-end;
  }

  &__switchers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    margin-right: 15px;
    padding: 0 10px;
    background-color: $header-elements-background-surface-color;
    box-shadow: inset 0 0 3px 1px $header-elements-box-shadow-base-color;
    border-radius: 50px;

    @include r.responsive-multiple(phone, phone-large, tablet, tablet-large) {
      width: 140px;
      padding: 0 8px;
    }

    @include r.responsive-multiple(phone, phone-large) {
      height: 50px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: left;
    margin-left: 100px;
    border-right: none;

    @include r.responsive(tablet-large) {
      margin-left: 90px;
    }

    @include r.responsive-multiple(phone, phone-large, tablet) {
      display: none;
    }
  }

  &__dropdown {
    position: relative;
    display: flex;
    justify-content: end;
    width: 200px;
    height: 100%;
  }
}
