@use "./shared/styles/variables/fonts.scss" as f;
@use "./shared/styles/mixins/typography.scss" as t;
@use "./shared/styles/mixins/responsive.scss" as r;

$tag-accent-color: var(--text-accent);

.App {
  .tag {
    @include t.font-setup(
      f.$font-family-secondary,
      f.$font-weight-medium,
      f.$font-size-2xs
    );
    margin: 5px 0;
    color: $tag-accent-color;

    @include r.responsive-multiple(phone, phone-large, tablet) {
      @include t.font-setup(
        f.$font-family-secondary,
        f.$font-weight-regular,
        f.$font-size-3xs
      );
    }
  }
}
