@use "../../shared/styles/mixins/responsive.scss" as r;

$about-me-background-base-color: var(--background-base);
$about-me-border-accent-color: var(--border-accent);
$about-me-text-accent-color: var(--text-accent);
$about-me-text-box-shadow-base-color: var(--shadows-base);

.about-me {
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: inset 0 0 3px 1px $about-me-text-box-shadow-base-color;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 8px 0;
  }

  &__background-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-shadow: 0 0 3px 1px $about-me-text-box-shadow-base-color;
  }

  &__container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 50px;

    @include r.responsive-multiple(phone, phone-large, tablet, tablet-large) {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      padding: 50px 20px;
      gap: 32px;
    }
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 340px;

    &::before {
      content: "";
      position: absolute;
      top: -35px;
      left: -35px;
      z-index: 1;
      width: 100%;
      height: 100%;
      border: 2px solid $about-me-border-accent-color;
      border-radius: 16px;

      @include r.responsive-multiple(phone, phone-large) {
        top: -25px;
        left: -25px;
      }
    }

    @include r.responsive-multiple(phone, phone-large, tablet, tablet-large) {
      margin: 32px auto 0;
    }

    @include r.responsive-multiple(phone, phone-large) {
      width: 200px;
      height: 240px;
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 660px;

    @include r.responsive(desktop) {
      width: 520px;
    }
    @include r.responsive-multiple(tablet, tablet-large) {
      width: 90%;
    }
    @include r.responsive-multiple(phone, phone-large) {
      width: 94%;
    }
  }

  &__description-wrapper {
    margin: 0 25px;
    padding: 25px;
    background-color: $about-me-background-base-color;
    border-radius: 16px;

    @include r.responsive-multiple(phone, phone-large, tablet, tablet-large) {
      margin: 0;
    }
  }

  &__description {
    padding-left: 25px;
  }
}
